p {
    color: red;
    font-family: Dalto; 
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    line-height: 2;
    letter-spacing: 5px;
}

h1 {
    text-align: left;
}

span {
    text-decoration: line-through;
}