body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex;
    flex-direction: column-reverse;
}

.flex-item {
    width: 180px;
    background-color: #911;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
}

.flex-item:first-child {
    background-color: #f77;
}

.flex-item:last-child {
    background-color: #000;
}