body {
    margin: 0;

}

.box {
    width: 280px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 40px 0 #0007;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-top: 5px;
    color: #999;
    letter-spacing: 3px;
    font-weight: 100;
    text-shadow: 0 0 1px #f95;
}

p {
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    text-shadow: 0 0 4px #f82;
}

img {
    width: 160px;
    filter: drop-shadow(0 0 5px #f95);
} 