.formulario {
    background: red;
    padding: 30px;
}

.formulario_input {
    padding: 9px 12px;
    width: 90%;
    background: black;
    color: red;
    margin: 10px;
}

.formulario_sumbit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background: red;
    color: white;
    width: 50%;
}