body {
    margin: 0;
    font-family: sans-serif;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
}

.flex-item {
    background-color: #600;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 400px;
    direction: rtl;
}

.flex-item:first-child {
    background-color: #f77;
}

.flex-item:last-child {
    background-color: #000;
}